<div class="color-container">
  <div class="color-primary-container">
    <div class='color-primary'></div>
    <h4>Persian Red</h4>
  </div>

</div>

<div class="color-container">
  <div class="color-primary-container">
    <div class='color-primary'></div>
    <h4>Persian Red</h4>
  </div>
  <div class="color-primary-container">
    <div class='color-primary'></div>
    <h4>Persian Red</h4>
  </div>
  <div class="color-primary-container">
    <div class='color-primary'></div>
    <h4>Persian Red</h4>
  </div>

</div>